div.shoe {
	width: 100%;
	background: #280b0b url("_images/footer-bkg.jpg") repeat-x;
}
footer {
	width: 100%;
	max-width: 1600px;
	color: #fff;
	font-family: 'IM Fell Great Primer', sans-serif;
	margin-bottom: 100px;
	// background-color: #280b0b;
	.tagline {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 75px;
		// font-style: italic;
		font-size: 20pt;
	}
	.copyright {
		font-family: 'Roboto', sans-serif;
		text-align: right;
		padding: 60px 60px 40px 0;
		font-size: 10px;
		font-style: normal;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}