body {
	background-color: #280b0b;
}
#wrapper {
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}
header {
	width: 100%;
	max-width: 1100px;
	background-color: #570000;
	height:160px     ;
}
article {
	 width: 100%;
	 max-width: 1100px;
	 background-color: #fff;
	 height: 600px;
}